{% extends "base.html" %}

{% block title %}Made In Stockholm{% endblock %}

{% block content %}
    <header>
        <h1><span>{{ site.title }}</span></h1>
        <nav class="contact">
            <ul>
                <li><a href="mailto:{{ site.contact }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <section class="posts">
        {% for post in posts %}
            <article class="post {{ post.slug }}">
                <h2>{{ post.title }}</h2>

                {% if post.content %}
                    <p>{{ post.content }}</p>
                {% endif %}
            </article>
        {% endfor %}
        </section>

        {% if projects %}
        <section class="projects">
            <h5>Projects</h5>

            {% for project in projects %}
            <article class="project {{ project.slug }}">
                <div class="wrapper">
                    <h3><span>{{ project.name }}</span></h3>

                    <div class="content">
                        <div class="image">
                            <img src="{{ url_for('uploaded_file', filename=project.image) }}" />
                        </div>

                        <h4><span>{{ project.title }}</span></h4>
                        <p>{{ project.content|safe }}</p>
                    </div>

                    {% if project.projectlinks %}
                        <nav class="links">
                            <ul>
                            {% for link in project.projectlinks %}
                                <li>
                                    <a href="{{ link.link }}" class="{{ link.slug }}">
                                        <span>{{ link.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>

            </article>
            {% endfor %}
        </section>
        {% endif %}

        <section class="links">
            <ul>
                <li class="fork">
                    <a href="https://github.com/marteinn/Madeinstockholm.se---Website">
                        <img src="{{ url_for('static', filename='img/fork.png') }}" />
                        fork us on github.com
                    </a>
                </li>
            </ul>

        </section>
    </div>

    <footer>
        <div class="persons">
            <div class="wrapper">
            {% for person in persons %}
                <div class="person">
                    {% if person.image %}
                        <img src="{{ url_for('uploaded_file', filename=person.image) }}" />
                    {% endif %}

                    <h4>{{ person.name }}</h4>
                    <p>{{ person.content|safe }}</p>
                </div>
            {% endfor %}
            <div>
        </div>
    </footer>
{% endblock %}