@dark-color: #1A1A1A;
@dark-blue: #13212F;    // Big stone
@light-gray: #F1F1ED;   // Cararra
@pink: #FBD2D0;         // Cinderella
@cyan: #99FFFF;         // Anakiwa


@primary-color: black;
@background-color: @light-gray;
@footer-background-color: @dark-blue;
@footer-text-color: @pink;
@rd-background-color: @pink;
@vw-background-color: @cyan;
@mp-background-color: #13212F;
@mp-text-color: #99FFFF;
