/*
@media only screen and (min-width: 35em) {
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
}
*/

@media only screen and (min-width: 320px) {
	body {
		
	}

	header {
		height: (50px)+110px;

		h1 {
			margin-top: 50px;
			position: absolute;
			left: 50%;
			margin-left: -(108px/2);
		}
	}

	nav.contact {
		float: right;
		margin-right: 25px;
		margin-top: 25px;
	}

	.content .post {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-left: 10%;
		margin-right: 10%;

		p {
			text-align: center;
		}
	}

	.projects article {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;

        h3 {
          margin-left: auto;
          margin-right: auto;
        }

        h4 {
          margin-top: 25px;
          text-align: center;
          margin-left: 25px;
          margin-right: 25px;
        }

        .image {
          margin-top: 25px;
          text-align: center;
          margin-right: 25px;
          margin-left: 25px;

          img {
            max-width: 100%;
          }
        }


        p {
          margin-left: 25px;
          margin-right: 25px;
        }

		&.vinylwall {

			nav.links ul {
				width: 160px;

				.vw-ios {
					margin-top: 10px;
				}
			}
		}
	}
}

// Make link buttons show on same line
@media only screen and (min-width: 360px) {
	.projects article {
		&.vinylwall {
			nav.links {
				ul {
					width: (160px*2)+10;

					.vw-ios {
						margin-top: 0px;
					}
				}
			}		
		}
	}
}

// @media only screen and (min-width: 768px) and (max-width: 980px) 
@media only screen and (min-width: 700px) {
	body {
		// background-color: #FF0000;
	}

    @max-width: 960px;

	header {
        max-width: @max-width;
        margin-left: auto;
        margin-right: auto;

		h1 {
			position: static;
			width: 108px;
			height: 110px;
			display: block;
			margin: 0;
			float: left;
			margin-top: 50px;
			margin-left: 25px;

			span {
				display: none;
			}
		}

		nav.contact {
			margin-top: 50px;
		}
	}

    #container > .content {
		margin-top: 25px*4;

		.post {
            padding-bottom: 25px*4;

			h2 {
                max-width: 720px;
                // outline: 1px solid #FF0000;
                font-size: 2em;
                margin-left: auto;
                margin-right: auto;
                padding-left: 25px;
                padding-right: 25px;
                line-height: 1.5em;
			}
		}
	}


    #container > .content article.post {
      max-width: @max-width;
      margin-left: auto;
      margin-right: auto;
    }

    .projects h5 {
      margin-top: 25px*2;
      margin-bottom: 25px*2;
      font-size: 2em;
    }

	.projects article {

        .wrapper {
          padding-bottom: 25px;
          max-width: @max-width;
          margin-left: auto;
          margin-right: auto;
        }

        h3 {
          margin-left: 25px;
          position: absolute;
        }

        .content {
          .clearfix();

          margin-top: 25px;
          margin-right: 50px*2;
        }

        .image {
          margin: 0;
          float: left;
          width: 69%;
        }

        h4,
        p {
          float: right;
          margin: 0;
          width: 30%;
        }

        h4 {
          font-size: 2em;
          text-align: left;
          margin: 0;
          margin-bottom: 25px;
        }

        // russiandance {
        &.russiandance {
          .content {
            margin-left: (50px*2)+73px;
          }
        }

        // vinylwall
		&.vinylwall {
			.content {
				margin-left: (50px*2)+73px;
			}

			.image {
				margin: 0;
				float: left;
				width: 69%;
			}

            h4,
			p {
				float: right;
				margin-left: 0;
				width: 30%;
			}
		}
	}
}