# OSX
.DS_Store

# Python ignores
__pycache__
*.pyc

# Ignore virtualenv files
venv

# Ignore all env files
.env

# SqlLite
*.db

# Project uploads
/src/uploads

# Static folder
/src/blog

# AWS
.boto

# Temporary folders
/tmp

# JS
node_modules

# Ignore font files
src/madeinstockholm/static/*
