Flask==0.9
Flask-Admin==1.0.5
Flask-DebugToolbar==0.8.0
Flask-SQLAlchemy==0.16
Flask-Script==0.5.3
Flask-WTF==0.8.3
Frozen-Flask==0.10
Jinja2==2.6
SQLAlchemy==0.8.1
WTForms==1.0.3
Werkzeug==0.8.3
blinker==1.2
boto==2.9.2
itsdangerous==0.17
wsgiref==0.1.2