{% extends "admin/master.html" %}
{% block body %}

<p>Model info:</p>

<h3>Site</h3>
<p>Contains main site info, such as Title, Description and Contact information.</p>

<h3>Post</h3>
<p>Info areas that are listed above the project section.</p>

<h3>Project</h3>
<p>Shown below posts. Contains all project info, can also be attached with links.</p>

<h3>ProjectLink</h3>
<p>Links related to project. Can be anything from link to app store to main page.</p>

<h3>Person</h3>
<p>Contact persons that are listed in the site footer.</p>

<h3>Uploaded files</h3>
<p>Basic file administration, based on FileAdmin from Flask-Admin.
All files are stored in "uploads". When uploading images, make sure to
include retina versions as well.</p>
{% endblock %}