.project-russiandance {
    background-color: none;

    color: #000;

    h3 {
        width: 95px;
        height: 95px;

        .retina-image("../img/russian-logo.png",
            "../img/russian-logo@2x.png", 95px, 95px);

        span {
            display: none;
        }
    }

    p a {
        color: #000;
    }
}

@media only screen and (min-width: 700px) {
    // russiandance {
    .project-russiandance {
        .content {
            margin-left: (50px*2)+73px;
        }
    }
}
