html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	background-color: #f1f1ed;
	color: #000000;
}

@font-face {
	font-family: 'Akkurat-Light';
	src: url('./fonts/akkurat-light/AkkurLig.eot');
	src: url('./fonts/akkurat-light/AkkurLig.eot?#iefix') format('embedded-opentype'),url('./fonts/akkurat-light/AkkurLig.woff') format('woff'),url('./fonts/akkurat-light/AkkurLig.ttf') format('truetype'),url('./fonts/akkurat-light/AkkurLig.svg#AkkurLig') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat-Bold';
	src: url('./fonts/akkurat-bold/AkkurBol.eot');
	src: url('./fonts/akkurat-bold/AkkurBol.eot?#iefix') format('embedded-opentype'),url('./fonts/akkurat-bold/AkkurBol.woff') format('woff'),url('./fonts/akkurat-bold/AkkurBol.ttf') format('truetype'),url('./fonts/akkurat-bold/AkkurBol.svg#AkkurBol') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('./fonts/helvetica-neue-light/HelveticaNeueLight.eot');
	src: url('./fonts/helvetica-neue-light/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),url('./fonts/helvetica-neue-light/HelveticaNeueLight.woff') format('woff'),url('./fonts/helvetica-neue-light/HelveticaNeueLight.ttf') format('truetype'),url('./fonts/helvetica-neue-light/HelveticaNeueLight.svg#AkkurBol') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.l-center {
	margin-left: auto;
	margin-right: auto;
}

.l-plain-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.l-plain-list li {
	margin: 0;
}

.header:before,
.header:after {
	content: " ";
	display: table;
}

.header:after {
	clear: both;
}

.header a {
	color: #000000;
}

.header h1 {
	width: 108px;
	height: 110px;
	display: block;
	margin: 0;
	background-image: url(../img/mis-logo.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.header h1 span {
	display: none;
}

.header .contact ul {
	margin: 0;
}

.header .contact ul:before,
.header .contact ul:after {
	content: " ";
	display: table;
}

.header .contact ul:after {
	clear: both;
}

.header .contact ul li {
	float: right;
	margin-left: 20px;
}

.header .contact ul li a {
	font-family: 'Akkurat-Light';
	font-size: 0.9em;
	text-decoration: none;
}

.header .contact ul li a:hover {
	text-decoration: underline;
}

.footer {
	background-color: #13212f;
	text-align: center;
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer strong {
	color: #000000;
	font-family: 'Akkurat-Light';
	font-weight: normal;
}

.footer h3 {
	width: 88px;
	height: 89px;
	background-repeat: no-repeat;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-image: url("../img/mis-logo.png");
}

.footer h3 span {
	display: none;
}

.footer .persons {
	color: #1a1a1a;
	overflow: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer .persons .wrapper {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.footer .persons .person {
	margin-left: 1%;
	margin-right: 1%;
	width: 48%;
	float: right;
	font-size: 0.75em;
	font-family: 'Akkurat-Light';
	color: #FFF;
}

.footer .persons .person:first-child {
	float: left;
}

.footer .persons .person img {
	margin-bottom: 20px;
}

.footer .persons .person h4 {
	font-weight: normal;
}

.footer .persons .person h4,
.footer .persons .person p {
	margin: 0;
}

.footer .persons .person a {
	color: #FFF;
	text-decoration: none;
}

.footer .persons .person a:hover {
	text-decoration: underline;
}

.links .fork {
	text-align: center;
	margin-top: 100px;
}

.links .fork a {
	color: #000;
	text-decoration: none;
	font-size: 0.75em;
}

.links .fork a:hover {
	text-decoration: underline;
}

.links .fork img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.post {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 10%;
	margin-right: 10%;
	border-bottom: 1px solid #000000;
}

.post h2 {
	text-align: center;
	font-family: 'HelveticaNeue-Light';
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1em;
	margin: 0;
}

.post p {
	margin-bottom: 0;
	font-family: 'Akkurat-Light';
	font-size: 0.9em;
}

.projects h5 {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-family: 'HelveticaNeue-Light';
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1em;
}

.project p {
	margin-bottom: 0;
}

.project .links {
	margin-top: 50px;
}

.project h3 {
	margin: 0;
}

.project h4 {
	margin: 0;
	display: block;
	font-family: 'HelveticaNeue-Light';
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1em;
}

.project p {
	font-family: 'Akkurat-Light';
}

.project-vinylwall {
	color: #FFF;
	background-color: #007bd7;
	background-image: -moz-linear-gradient(left, #43bfad, #007bd7);
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#43bfad), to(#007bd7));
	background-image: -webkit-linear-gradient(left, #43bfad, #007bd7);
	background-image: -o-linear-gradient(left, #43bfad, #007bd7);
	background-image: linear-gradient(to right, #43bfad, #007bd7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff43bfad', endColorstr='#ff007bd7', GradientType=1);
}

.project-vinylwall h3 {
	width: 73px;
	height: 40px;
	background-image: url("../img/vw-logo.png");
}

.project-vinylwall h3 span {
	display: none;
}

.project-vinylwall p a {
	color: #FFF;
}

.project-vinylwall .links ul {
	padding: 0;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.project-vinylwall .links ul:before,
.project-vinylwall .links ul:after {
	content: " ";
	display: table;
}

.project-vinylwall .links ul:after {
	clear: both;
}

.project-vinylwall .links ul li {
	display: block;
}

.project-vinylwall .links ul li a {
	width: 160px;
	height: 54px;
	display: block;
	background-repeat: no-repeat;
}

.project-vinylwall .links ul li a span {
	display: none;
}

.project-vinylwall .links ul li a.vw-ios {
	float: left;
	background-image: url("../img/store-button-ios.png");
}

.project-vinylwall .links ul li a.vw-android {
	float: right;
	background-image: url("../img/store-button-android.png");
}

.project-russiandance {
	background-color: #fbd2d0;
	color: #000;
}

.project-russiandance h3 {
	width: 95px;
	height: 95px;
	background-image: url("../img/russian-logo.png");
}

.project-russiandance h3 span {
	display: none;
}

.project-russiandance p a {
	color: #000;
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {

.footer h3 {
	background-image: url("../img/mis-logo@2x.png");
	background-size: 88px 89px;
}

.project-vinylwall h3 {
	background-image: url("../img/vw-logo@2x.png");
	background-size: 73px 40px;
}

.project-vinylwall .links ul li a.vw-ios {
	background-image: url("../img/store-button-ios@2x.png");
	background-size: 160px 54px;
}

.project-vinylwall .links ul li a.vw-android {
	background-image: url("../img/store-button-android@2x.png");
	background-size: 160px 54px;
}

.project-russiandance h3 {
	background-image: url("../img/russian-logo@2x.png");
	background-size: 95px 95px;
}

}

@media only screen and (min-width:320px) {

.header {
	height: 160px;
}

.header h1 {
	margin-top: 60px;
	position: absolute;
	left: 50%;
	margin-left: -54px;
}

.header .contact {
	float: right;
	margin-right: 25px;
	margin-top: 25px;
}

.post {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.post p {
	text-align: center;
}

.project {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}

.project h3 {
	margin-left: auto;
	margin-right: auto;
}

.project h4 {
	margin-top: 25px;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
}

.project .image {
	margin-top: 25px;
	text-align: center;
	margin-right: 25px;
	margin-left: 25px;
}

.project .image img {
	max-width: 100%;
}

.project p {
	margin-left: 25px;
	margin-right: 25px;
}

.project-vinylwall .links ul {
	width: 160px;
}

.project-vinylwall .links ul .vw-ios {
	margin-top: 10px;
}

}

@media only screen and (min-width:360px) {

.project-vinylwall .links ul {
	width: 330px;
}

.project-vinylwall .links ul .vw-ios {
	margin-top: 0px;
}

}

@media only screen and (min-width:700px) {

.main-wrapper {
	margin-top: 100px;
	max-width: none;
}

.header {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.header h1 {
	position: static;
	width: 108px;
	height: 110px;
	display: block;
	margin: 0;
	float: left;
	margin-top: 50px;
	margin-left: 25px;
}

.header h1 span {
	display: none;
}

.header .contact {
	margin-top: 50px;
}

.post {
	padding-bottom: 100px;
}

.post h2 {
	max-width: 720px;
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 1.5em;
}

.post {
	padding-bottom: 100px;
}

.post h2 {
	max-width: 720px;
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 1.5em;
}

.post-intro {
	padding-top: 0;
}

.projects h5 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 2em;
}

.project .wrapper {
	padding-bottom: 25px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.project h3 {
	margin-left: 25px;
	position: absolute;
}

.project .content {
	margin-top: 25px;
	margin-right: 100px;
}

.project .content:before,
.project .content:after {
	content: " ";
	display: table;
}

.project .content:after {
	clear: both;
}

.project .image {
	margin: 0;
	float: left;
	width: 69%;
}

.project h4,
.project p {
	float: right;
	margin: 0;
	width: 30%;
}

.project h4 {
	font-size: 2em;
	text-align: left;
	margin: 0;
	margin-bottom: 25px;
}

.project-vinylwall .content {
	margin-left: 173px;
}

.project-vinylwall .image {
	margin: 0;
	float: left;
	width: 69%;
}

.project-vinylwall h4,
.project-vinylwall p {
	float: right;
	margin-left: 0;
	width: 30%;
}

.project-russiandance .content {
	margin-left: 173px;
}

}

@media print {

* {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

a,
a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

pre,
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr,
img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

}

