<footer class="footer">
    <div class="footer__persons">
        <div class="footer__persons-wrap">
            <div class="footer__person">
                <img class="footer__person-avatar" src="/uploads/avatar-2.svg" />
                <h4 class="footer__person-title">Mattias Broden</h4>
                <p class="footer__person-description">Creative<br /><a href="http://twitter.com/EntireStudio">@EntireStudio</a></p>
            </div>

            <div class="footer__person">
                <img class="footer__person-avatar" src="/uploads/avatar-1.svg" />
                <h4 class="footer__person-title">Martin Sandström</h4>
                <p class="footer__person-description">Technology<br /><a href="http://twitter.com/marteinn_se">@marteinn_se</a></p>
            </div>
        </div>
    </div>

    <div class="footer__links">
        <ul>
            <li class="foter_links-item footer__links-item--fork">
                <a href="https://github.com/marteinn/Madeinstockholm.se---Website" class="footer__links-item-link">
                    <img src="/static/madeinstockholm/img/fork.svg" class="footer__links-item-icon" />
                    Fork us on GitHub
                </a>
            </li>
        </ul>
    </div>
</footer>
