<footer class="footer">
    <div class="persons">
        <div class="wrapper">
            <div class="person">
                <img src="/uploads/avatar-2.svg" />
                <h4>Mattias Broden</h4>
                <p>Creative<br /><a href="http://twitter.com/EntireStudio">@EntireStudio</a></p>
            </div>
            <div class="person">
                <img src="/uploads/avatar-1.svg" />
                <h4>Martin Sandström</h4>
                <p>Technology<br /><a href="http://twitter.com/marteinn_se">@marteinn_se</a></p>
            </div>
        </div>
    </div>

    <div class="links">
        <ul class="l-plain-list">
            <li class="fork">
                <a href="https://github.com/marteinn/Madeinstockholm.se---Website">
                    <img src="/static/madeinstockholm/img/fork.svg" />
                    Fork us on GitHub
                </a>
            </li>
        </ul>
    </div>
</footer>
